# LINUX ONLY
# ----------
#
# To make BALTECH USB/HID Devices accessible for non-root Linux-users
# copy this file to /etc/udev/rules.d
# It will grant read/write access to /dev/hidrawX for all users.
#
# To make this work, please ensure that the kernel driver "usbhid" is loaded
# ("modprobe usbhid").
#
# ATTENTION: Please reboot your computer after copying this file into /etc

KERNEL=="hidraw*", ATTRS{idVendor}=="13ad", MODE="0666"


# If you implemented a special daemon which is handling all
# communication with the reader use the following line instead:
#
#   KERNEL=="hidraw*", ATTRS{idVendor}=="13ad", OWNER="<daemon-useraccount>"
#