# LINUX ONLY
# ----------
#
# To make BALTECH USB/CDC Devices accessible for non-root Linux-users
# copy this file to /etc/udev/rules.d
# It will grant read/write access for all users to /dev/tty* devices that
# are referring to BALTECH CDC readers.
#
# To make this work, please ensure that the kernel driver "cdc_acm" is loaded
# ("modprobe cdc_acm").
#
# ATTENTION: Please reboot your computer after copying this file into /etc

KERNEL=="ttyACM*", ATTRS{idVendor}=="13ad", MODE="0666"


# If you implemented a special daemon which is handling all
# communication with the reader use the following line instead:
#
#   KERNEL=="ttyACM*", ATTRS{idVendor}=="13ad", OWNER="<daemon-useraccount>"
#


# If you connect the reader via the UART 0 (instead of USB/CDC) use the
# following line:
#
#   KERNEL=="ttyS0", MODE="0666"
#